.admin {
    .rectBox {
        width: 434px;
        height: 80px;
    }

    .questionIcon {
        font-size: 13px;
        cursor: pointer;
    }

    :global {
        .ant-form-item-control  {
            display: flex;
            align-items: center;
        }

        .ant-input-group{
            width: 150px;
            display: flex;
            align-items: center;
        }

        .ant-input-group-addon {
            width: 31px;
            background: #F5F5F5;
            height: 28px;
            display: flex;
            align-items: center;
        }
    }

    .rebateWithdrawRuleRadioGroup {
        :global {
            .ant-radio-wrapper {
                display: flex;
                align-items: center;

                span:nth-child(2) {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}