
.advance{
    float: right;
    :global{
        .ant-checkbox-wrapper{
            margin-right: 0;
            color: #1ca1dc;
        }
        .ant-checkbox{
            display: none;
        }
    }
}
