

@import '~@hualala/platform-base/lib/styles/variables.less';
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.thinAvatar-uploader,
.thinAvatar-uploader-trigger,
.thinAvatar {
  width: 144px;
  height: 256px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
.horizontal-modifier {
  width: 255px;
  height: 105px;
}


.wrapperType111{
    :global{
        label[for=subRule]{
            position: relative;
            left: -104px;
        }
    }
    .subRule{
        position: relative;
        left: -102px;
    }
}
.subRule{
    display: block;
}
.customProgressBar{
    :global{
        .stepsContent{
			max-height: 370px!important;
		}
    }
}
.foodBox{
    margin-left: -6px;
    :global{
        .ant-col-23{
            margin: 0 0 20px 97px;
        }
        .ant-col-17{
            width: 69%
        }
        .ant-radio-group {
            margin: 0 8px 8px 8px;
        }
        .ant-col-4 {
            display: block;
            width: 18.666667%;
        }
        .ant-form-explain{
            margin: 24px 0 -30px 106px
        }
    }
}

.foodModal{
    :global{
        .ant-modal-content{
            width: 650px;
        }
        .stepsContent{
            overflow-x: hidden;
            min-height: 160px;
            .ant-form{
                min-height: 220px;
            }
        }
    }
}
.addPromotionModal{
    width: 1015px !important;
    :global{
        .ant-modal-body {
            padding: 0;
            overflow-y: hidden;
            overflow-x: hidden;
            max-height: 800px;
        }
        .layoutsContent {
            padding-right: 10px;
        }
        .clearfix{
            height: 700px !important;
        }
    }
}
//遮罩样式
//礼品遮罩文件，在AddGifts.jsx，AddGrade中引入
.giftWrap{
    position: relative;
    width: 100%;
}
.opacitySet{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 110%;
    background-color: #000;
    opacity: 0.08;
    cursor: not-allowed;
    z-index: 999;
}
.foodSelectorWrapper {
    & + :global(.ant-form-explain) {
        position: absolute;
        bottom: -10px;
        left: 25.67%;
    }
}
.disabledWrapper{
    position: absolute;
    width: 99%;
    height: 100%;
    cursor: not-allowed;
    background: #000;
    opacity: .08;
    z-index: 9;
}
.speDiv {
    :global{
        .ant-upload-list-picture-card .ant-upload-list-item-thumbnail, .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
            display: inline-block;
            width: 100%;
            height: auto;
            position: static;
        }
        .ant-upload-list-picture-card .ant-upload-list-item-info {
            overflow: hidden;
        }
    }
}
.selectBrandsWrapper{
    margin-left: -100px;
}
.selectFoodsWrapper{
    position: relative;
    width: 439px;
    background: #F7F7F7;
    border-radius: 3px;
    border: 1px solid #E7E7E7;
    padding: 15px;
    margin-left: 127px;
    .foodWrapperCont {
        position: relative;
        left: -13px;
    }
    .foodWrapperHeader{
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: #333333;
        line-height: 14px;
        margin-bottom: 15px;
    }
    .foodWrapperNotAllow{
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
        top: 0;
        left: 0;
    }
    :global{
        .EditableTags_wrapper__1IHF_.EditableTags_empty__2gVSd{
            width: 300px;
            background-color: #fff;
        }
        .ant-form-item .ant-switch{
            width: 48px;
            border-radius: 12px;
            height: 24px;
            line-height: 24px;
        }
        .ant-switch:after{
            border-radius: 50%;
        }
        .ant-switch .ant-switch-inner{
            line-height: 24px;
        }
        .EditableTags_wrapper__1IHF_ .EditableTags_itemsWrapper__16Nxr{
            background-color: #fff;
        }
        .ant-form-item > .ant-form-item, .ant-form-item :not(.ant-form) > .ant-form-item{
            margin-bottom: 0;
        }
    }
}


.FormItemStyle {
    p {
        display: inline-block;
        line-height: 32px;
    }

    .activityCondition {
        position: absolute;
        top: 6px;
        left: -60px;
    }

    .inputLabel {
        display: inline-block;
        width: 30%;
        text-align: center;
        line-height: 32px;
        background-color: @bg-color;
    }

    .inputUnit {
        display: inline-block;
        border: 1px solid @normal-color;
        height: 32px;
        vertical-align: top;
        line-height: 32px;
        width: 8%;
        text-align: center;
        border-left: 0;
    }

    .autoStyle {
        text-align: center;
        line-height: 32px;
    }

    .titleHeight {
        line-height: 32px !important;
        text-align: right;
        display: inline-block;
        padding-right: 10px;
        width: 100%;
    }

    .msgStyle {
        border: 1px solid @normal-color;
        height: 100px;
    }

    .blockP {
        display: block;
    }

    .inputWrapper {
        line-height: 32px;

        :global {
            .ant-input {
                width: 50px;
                margin: 0 10px;
                text-align: right;
            }

            .ant-radio-group {
                float: right;
            }
        }
    }

    :global {
        .ant-calendar-picker {
            width: 100%
        }

        .ant-form-item-control {
            line-height: normal;
            margin-bottom: 4px;

            .ant-checkbox-group {
                padding: 7px 0;

                .ant-checkbox-group-item {
                    margin-right: 15px;
                    width: auto;
                }
            }

            .ant-col-3 {
                text-align: right;
                padding-right: 10px;
                line-height: 32px;
            }
        }

        .ant-btn {
            color: #49a9ee;
            margin-right: 10px;
            background-color: #fff;
            border-color: rgba(28, 161, 220, 0.35);

            &:hover {
                border-color: rgb(28, 161, 220);
            }
        }

        .ant-form-explain {
            position: absolute;
            left: 0;
        }

        .pro-all {
            padding-left: 10px;

        }

        .ant-radio-group {
            line-height: 30px;
        }

        .ant-input-number {
            border-radius: 0;
            width: 92%;
            margin-right: 0;
        }

        .ant-input-group {
            //.ant-input-lg{
            //    text-align: right;
            //}

            .ant-input-group-addon {
                padding: 0px 7px;
                background: none;
                border: 1px solid @normal-color ;
                border-right: none;

                &:first-child {
                    padding: 0;
                }

                &:first-of-type {
                    text-align: center;
                    color: @text-color;
                    border-radius: @border-radius-no;
                    width: 30%;
                }

                .ant-select-selection-selected-value {
                    padding-left: 7px;
                }
            }
        }

        .ant-input-group-addon {
            .ant-select-focused .ant-select-selection {
                color: rgba(0, 0, 0, 0.65);
            }

            .ant-select-selection__rendered {
                margin: 0;
            }
        }

        .ant-input-group-addon {
            color: @text-color  !important;
            border-color: @normal-color  !important;

            &:last-of-type {

                width: 6% !important;
                border: 1px solid @normal-color  !important;
                border-left: none !important;
            }
        }

        .ant-radio-wrapper {
            margin-left: 0px;
        }

        .ant-col-8 {
            padding: 0px;
        }

    }

    .PriceInputContent {
        width: 55px;
    }

    .settingGuide {
        position: relative;
        display: inline-block;
        color: #5a9fea;
        cursor: pointer;
        margin-left: 5px;

        .settingImg {
            display: none;
            position: absolute;
            width: 602px;
            height: 227px;
            top: 20px;
            left: -285px;
            z-index: 9;
        }

        &:hover>.settingImg {
            display: block;
        }
    }

    .addFoodWrapper {
        width: 489px;
        height: 66px;
        background: #F9F9F9;
        border-radius: 4px;

        .addFoodBtn {
            position: absolute;
            top: 20px;
            left: 198px;
        }
    }
}


.gTip {
    cursor: pointer;
    color: @lightGrey;
    margin-top: -8px !important;
    z-index: 100;
}
.gDate {
    text-align: right;
    cursor: pointer;
    color: @link-default;
    margin-top: -8px !important;
    z-index: 100;
}

.gDate:hover {
    text-align: right;
    cursor: pointer;
    color: @link-hover;
}


.settingNew {
    >div{
        margin-left: 124px;
 
    }

    >div >div >div:nth-child(2) {
        margin-left: 86px !important;
        width: 200px !important;
     }
}