.modalTitle {
    width: 100%;
    margin-bottom: 15px;
    span{
        width: 20%;
        display: inline-block;
        text-align: center;
    }
}
.spanItem{
    width: 20%;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333333;
}
.lighterItem{
    width: 20%;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999999;
}
.grayBackground{
    background: #F8F6F9;
    height: 33px;
    position: relative;
    top: -7px;
    line-height: 33px;
}
.darkerDot{
    background: #1BB496;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 10px;
}
.lighterDot{
    background: #B9EAE3;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 10px;
}