.header {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.line {
    height: 16px;
    background-color: #f3f3f3;
}
.desc {
    color: #1ab495;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}
.modalContent {
    height: 300px;
    .modalTitle {
        display: flex;
        align-items: center;
        color: #333333;
        font-size: 14px;
    }
    .leftLine {
        width: 2px;
        height: 13px;
        background: rgba(30, 179, 149, 1);
        margin-right: 8px;
    }
    .modalInfo {
        color: #595959;
        font-size: 12px;
        line-height: 24px;
        margin-top: 4px;
        margin-left: 10px;
    }
}
.modalFooter {
    display: flex;
    justify-content: center;
}
