@gray: #999;
@red: #ed5664;
@yel: #ff9805;
@brd: #e7e7e7;
@green: #1ab495;
@green2: #18a786;
@black: #434343;
@white: #fff;
@blue: #1ca1dc;
@graybg: #f9f9f9;
@separ: #f3f3f3;

.tc {
    text-align: center;
}

.r {
    float: right;
}

.dn {
    display: none;
}

.tr {
    text-align: right;
}

.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.h3 {
    padding-left: 5px;
    margin-bottom: 10px;
    line-height: 17px;
    font-size: 14px;
    font-weight: bold;
}
.mainBox {
    margin: 0 0 10px 0;
}
