@brd: #E7E7E7;
@green: #1AB495;
@green2: #18a786;
@gray: #999;
.mainBox{
    :global{
        .ant-tabs-tab-active{
            color: @green2!important;
        }
        .ant-tabs-tab:hover{
            color: @green!important;
        }
    }
}
.addBox{
    display: flex;
    &>p{
        margin: 0 10px;
        color: @gray;
    }
}
.pointBox{
    display: flex;
    &>em{
        font-style: normal;
        padding: 0 8px;
    }
    :global{
        .ant-input-wrapper{
            width: 100px;
        }
        .ant-select{
            width: 160px;
        }
    }
}
.ticketBox {
    :global{
        .ant-radio-button-wrapper:hover,
        .ant-radio-button-wrapper-focused {
            color: @green;
        }
        .ant-radio-button-wrapper-checked {
            border-color: @green;
            color: @green;
            box-shadow: -1px 0 0 0 @green;
        }
        .ant-radio-button-wrapper-checked:first-child {
            border-color: @green;
        }
        .ant-radio-button-wrapper-checked:hover {
            border-color: @green2;
            box-shadow: -1px 0 0 0 @green2;
            color: @green2;
        }
        .ant-radio-button-wrapper-checked:active {
            border-color: @green2;
            box-shadow: -1px 0 0 0 @green2;
            color: @green2;
        }
    }
}
.giftBox{
    margin: 10px 0;
}
