@import '~@hualala/platform-base/lib/styles/variables.less';

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tc {
    text-align: center;
}

.automatedSale {
    padding: 14px 20px;

    .queryFrom {
        display: flex;
        margin: 20px 0;
    }

    .tableBox {
        padding: 0 20px;
    }
    
    .optBtn {
        button {
            margin-right: 10px;
        }
    }
}
