@import '~@hualala/platform-base/lib/styles/variables.less';

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tc {
    text-align: center;
}

.automatedSale {
    padding: 14px 20px;

    .queryFrom {
        display: flex;
        margin: 20px 0;
    }
    
    .optBtn {
        button {
            margin-right: 10px;
        }
    }

    .switchBox {
        height: 24px;
        border-radius: 20px;
        width: 79px;
    }

    :global {
        .ant-switch:after {
            border-radius: 20px !important;
        }

        .ant-switch .ant-switch-inner {
            line-height: 24px;
        }
   }
}
