.calendar {
    .fairRed {
        color: rgb(252,80,31);
    }
    img {
        width: 100%;
        margin: 15px 0;
    }
    h1 {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    p {
        font-size: 14px;
        line-height: 1.8;
    }
}
