.spacer {
    flex: 1;
}
.centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexHeader {
    .centeredFlex();
    height: 60px;
    padding: 0 20px;
    .title {
        font-size: 22px;
        color: #666666;
    }
}
.blockLine {
    width: 100%;
    height: 15px;
    background-color: #F3F3F3;
}
.contentWrapper {
    height: ~"calc(100% - 75px)";
}
.boardWrapper {
    display: flex;
    min-width: 1000px;
}
.uploaderTrigger {
    display: block;
    border: 1px dashed #d9d9d9;
    background:rgba(251,251,251,1);
    border-radius: 6px;
    cursor: pointer;
    width: 96px;
    height: 96px;
    text-align: center;
    padding-top: 30px;
}

.colorPickersContainer {
    width: 500px;
}
.colorPickersTip {
    flex-grow: 0;
    flex-shrink: 1;
    font-size:14px;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.colorPickersWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    .colorPickerWrapper {
        margin: 15px 25px 0 0;
        flex: none;
        .colorBlockWrapper {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            border: 2px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.isSelected {
                border: 2px solid #1AB495;
            }
            :global {
                .rc-color-picker-trigger {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    box-shadow: none;
                }
                .rc-color-picker-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .fakePadding {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .colorBlock {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .labelBlock {
            height: 30px;
            line-height: 30px;
            font-size:12px;
            text-align: center;
            font-weight:400;
            color:rgba(102,102,102,1);
        }
    }
}
.sectionWrapper {
    position: relative;
    margin: 0 0 30px 150px;
    .label {
        width: 100px;
        position: absolute;
        text-align: right;
        font-size:14px;
        font-weight:bold;
        color:rgba(51,51,51,1);
        top: 0;
        left: -150px;
    }
}
.uploaderWrapper {
    display: flex;
}
.uploaderTip {
    width: 240px;
    margin-left: 20px;
    font-size:12px;
    font-weight:400;
    color:rgba(153,153,153,1);
    padding-top: 20px;
    p {
        line-height: 1.5;
    }
}
@tab-width: 900px;
.customTabWrapper {
    margin-left: 50px;
    width: @tab-width;
    .uploaderWrapper {
        margin-left: 0;
    }
    :global {
        .ant-tabs-ink-bar, .ant-tabs-ink-bar-animated {
            background-color: #4DA0F4;
        }
        .ant-tabs-nav-container {
            background-color: #fff;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            border-bottom: 1px solid rgba(229,229,229,1);
            width: @tab-width - 25px;
        }
        .ant-tabs-bar {
            width: @tab-width - 25px;
        }
        .ant-tabs-nav {
            color: #666666;
            line-height:18px;
            .ant-tabs-tab-active, .ant-tabs-tab:hover {
                font-size: 14px;
                font-weight:bold;
                color:#4DA0F4;
            }
        }
    }
}
.previewArea {
    width: 400px;
    padding: 45px 0 0 75px;
    position: relative;
    .scrollTip {
        position: absolute;
        top: 20px;
        left: 92px;
        color: #999999;
        font-size: 12px;
        width: 287px;
        text-align: center;
        z-index: 10;
    }
    .typeTitle {
        position: absolute;
        top: 93px;
        left: 92px;
        font-size: 15px;
        width: 287px;
        text-align: center;
        z-index: 10;
    }
    .fakeHeader {
        position: absolute;
        top: 58px;
        left: 92px;
    }
    .scrollArea {
        position: absolute;
        top: 120px;
        left: 92px;
        width: 287px;
        height: 550px;
        border-radius: 0 0 30px 30px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: #ddd;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
        }
    }
}
@total-height: 374px;
@img-height: 99px;
.simpleDisplayBlock {
    position: absolute;
    top: 150px;
    left: 105px;
    width: 260px;
    height: @total-height;
    border-radius:0px 0px 10px 10px;
    .imgWrapper {
        width: 100%;
        height: @img-height;
        position: relative;
    }
    .bgWrapper {
        width: 100%;
        height: @total-height - @img-height;
        border-radius:0px 0px 10px 10px;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        & > img {
            width: 237px;
        }
    }
    .btnWrapper {
        margin-top: 20px;
        position: relative;
        width: 237px;
        img {
            width: 100%;
            position: absolute;
        }
        div {
            width: 100%;
            font-size: 16px;
            line-height: 44px;
            position: relative;
            z-index: 1;
            text-align: center;
            color: #d25416;
        }
    }
    .closeBtn {
        color: #FFFFFF;
        font-size: 30px;
        position: absolute;
        bottom: -55px;
        left: 115px;
    }
}
.tagWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -70px;
    line-height: 20px;
    span {
        margin-left: 5px;
        z-index: 2;
        color: #fff;
        position: relative;
    }
    img {
        position: absolute;
    }
}
.tagColorBlock {
    width:520px;
    height:160px;
    border:1px solid rgba(233,233,233,1);
    border-radius:5px;
    display: flex;
    .leftBlock {
        width: 50%;
        padding-top: 30px;
    }
    .rightBlock {
        width: 50%;
        background: #F8F8F8;
        h5 {
            color: #999999;
            margin: 10px auto;
            text-align: center;
        }
    }
}
.borderedColorWrapper {
    padding: 4px 4px 0 4px;
    height:30px;
    border:1px solid rgba(229,229,229,1);
    border-radius:3px;
}
.colorRow {
    display: flex;
    margin: 0 0 12px 40px;
    align-items: center;
    >span {
        margin-right: 20px;
    }
}
.tagPreview {
    width:145px;
    height:23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0px 0px 20px 20px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight:500;
    margin: 0 auto 20px;
}
.inlineRow {
    display: flex;
    align-items: center;
    > * {
        margin-right: 10px;
    }
}
.timer {
    margin: 10px auto 0 auto;
    .centeredFlex();
    background:rgba(255,255,255,0.2);
    width: 214px;
    height: 27px;
    border-radius: 13px;
    color: rgba(255,255,255,0.9);
}
.giftContainer {
    overflow: hidden;
    margin: 10px auto 0 auto;
    background:rgba(255,255,255,0.2);
    border-radius: 13px;
    width:259px;
    height:143px;
    .giftWrapper {
        width: 210px;
        height: 70px;
        position: relative;
        margin: 18px auto 0 auto;
    }
    .buttonArea {
        margin: 10px auto 0 auto;
        width: 210px;
        height: 26px;
        .centeredFlex();
        border-radius: 13px;
    }
}
.coloredTag {
    color: #fff;
    width: 132px;
    height: 25px;
    border-radius: 0 0 20px 20px;
    .centeredFlex();
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.progressBar {
    width: 210px;
    display: block;
    margin: 15px auto 0 auto;
}
.giftRow {
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0 auto;
    .subWrapper {
        width: 65px;
        .giftItem {
            width: 100%;
            height: 75px;
            position: relative;
        }
        .action {
            font-size: 10px;
            .centeredFlex();
            margin-top: 10px;
            height: 22px;
            border-radius: 11px;
            background: rgb(155, 128, 39);
            color: rgb(85, 10, 8);
        }
    }
}
.detailBlock {
    padding-top: 25px;
    overflow: hidden;
    margin: 10px auto 0 auto;
    background:rgba(255,255,255,0.2);
    border-radius: 13px;
    width:259px;
    //height: 244px;
    position: relative;
    .detailTxt {
        color: rgba(255,255,255,0.8);
        padding: 18px 24px;
        font-size: 10px;
    }
}
.friendsInfo {
    padding-top: 25px;
    overflow: hidden;
    position: relative;
    width:259px;
    margin: 10px auto 0 auto;
    background:rgba(255,255,255,0.2);
    border-radius: 13px;
    height: 71px;
    .tip {
        margin-top: 10px;
        text-align: center;
        font-weight:bold;
        color:rgba(255,255,255,0.5);
    }
}
.ruleInfo {
    padding: 30px 20px 20px;
    width:259px;
    margin: 10px auto 20px auto;
    background:rgba(255,255,255,0.2);
    border-radius: 13px;
    overflow: hidden;
    position: relative;
    .rule {
        color: rgba(255,255,255,0.8);
        line-height: 1.5;
    }
    .ruleSubTitle {
        font-weight: bold;
        line-height: 1.8;
    }
}
.shareCommonBlock {
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    width: 259px;
    margin: 0 auto 20px;
    background:rgba(255,255,255,0.2);
    border-radius: 13px;
    > img {
        width: 210px;
        display: block;
        margin: 10px auto 0;
    }
    .buttonArea {
        margin: 20px auto;
        width: 210px;
        height: 34px;
        border-radius: 17px;
        .centeredFlex();
    }
}
.freeButton {
    .centeredFlex();
    width: 187px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.friendZone { // get it ?
    width:254px;
    margin: -36px auto 20px;
    height: 300px;
    background:rgba(255,255,255,1);
    border: 1px solid;
    border-radius:8px;
}
.resetableTrigger {
    width: 96px;
    height: 96px;
    position: relative;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    overflow: hidden;
    .actionBar {
        opacity: 0;
        position: absolute;
        text-align: center;
        line-height: 25px;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        color: #FFF;
        transition: opacity 0.3 ease-in;
        background: rgba(0,0,0, 0.5)
    }
    &:hover .actionBar {
        opacity: 1;
    }
    > img {
        width: 94px;
        height: 94px;
    }
}
.lotteryLargeBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 37%;
    top: 167px;
    left: 50%;
    border-radius: 8px;
    height: 118px;
    padding: 10px;
    transform: translateX(-50%);
    svg {
        transform: scale(0.75);
    }
}

.freeGiftDecorationWrap {
    :global {
        .ant-switch:after {
            border-radius: 50%;
        }
        .ant-switch .ant-switch-inner {
            line-height: 22px;
        }
    }
}
